---
const { title, links } = Astro.props;
---

<section class="mb-8">
  <h2 class="text-lg font-semibold mb-4">{title}</h2>
  <ul class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-x-6 gap-y-4">
    {links.map(link => (
      <li>
        <a href={link.url} class="text-blue-600 hover:underline block text-sm font-medium">
          {link.name}
        </a>
        <p class="text-xs text-gray-600">{link.description}</p>
      </li>
    ))}
  </ul>
</section>
