---
import "../styles/global.css";
import data from "../data/website.json";
import Nav from "../components/Nav.astro";

const { websiteTitle = "🇮🇳 India to Germany 🇩🇪" } = Astro.props;

const { title, subtitle } = data;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Indiatogermany.de is your soulful and practical guide for Indian migrants in Germany. Discover essential tools and joyful desi hacks to thrive abroad."
    />
    <meta
      name="keywords"
      content="India to Germany, Indian migrants Germany, Indians in Germany, Blue Card, Anmeldung, apartment hunting, Indian grocery Germany, desi community, expat toolkit"
    />
    <meta name="author" content="Indiatogermany.de" />
    <meta name="robots" content="index, follow" />
    <title>{websiteTitle}</title>
  </head>
  <body class="bg-white text-gray-900 font-sans">
    <header class="py-6 px-4 text-center border-b border-gray-200">
      <a href="/" class="text-3xl font-bold">{title}</a>
      <p class="mt-2 text-gray-600 text-xl">{subtitle}</p>

      <Nav />
    </header>

    <main class="max-w-3xl mx-auto px-4 py-6">
      <slot />
    </main>

    <footer class="text-center py-4 border-t text-sm text-gray-500">
      <p>
        <a
          class="text-[var(--color-india-blue)] hover:text-[var(--color-india-green)] underline font-medium"
          target="_blank"
          href="https://forms.gle/F2cpYACYv1T2qH5b8">Have suggestions?</a>
      </p>
      <p>&copy; 2025 India to Germany. All rights reserved.</p>
    </footer>
  </body>
</html>
